<html>
<head>
    <title>Knockout File Bindings Demo</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="media/style/knockout-file-bindings.css">
    <style type="text/css">
        .container {
            max-width: 750px;
            padding: 15px;
        }
    </style>
</head>
<body>

<form id="1" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--    {{ form.as_p }}-->
    <div class="container">
        <h1>
            <center>Edit Image</center>
        </h1>
        <div class="well" data-bind="fileDrag: fileData">
            <div class="form-group row">
                <div class="col-md-6">
                    <img style="height: 125px;" class="img-rounded  thumb"
                         data-bind="attr: { src: fileData().dataURL }, visible: fileData().dataURL">
                    <div data-bind="ifnot: fileData().dataURL">
                        <label class="drag-label"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <input name="image" src="media/images/33.jpg" id="id_image" type="file" data-bind="fileInput: fileData, customFileInput: {
	              buttonClass: 'btn btn-success',
	              fileNameClass: 'disabled form-control',
	              onClear: onClear,
	              onInvalidFileDrop: onInvalidFileDrop
	            }" accept="image/*">

                    <input type="hidden" name="countofpic" value="1" required="" id="id_countofpic">

                </div>
                <div class="col-md-12 text-center button " style="margin-top: 10px">
                    <button type="submit" class="btn btn-danger">Upload</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="2" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--    {{ form.as_p }}-->
    <div class="container">
        <h1>
            <center>Edit Image2</center>
        </h1>
        <div class="well" data-bind="fileDrag: fileData">
            <div class="form-group row">
                <div class="col-md-6">
                    <!--                    <img style="height: 125px;" class="img-rounded  thumb" data-bind="attr: { src: fileData().dataURL }, visible: fileData().dataURL">-->
                    <div data-bind="ifnot: fileData().dataURL">
                        <label class="drag-label"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--                    <input name="image" id="id_image" value="1.jpg" type="file" accept="image/*">-->

                    <input type="hidden" name="countofpic" value="2" required="" id="id_countofpic2">

                </div>
                <div class="col-md-12 text-center button " style="margin-top: 10px">
                    <button type="submit" class="btn btn-danger">Run2</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form id="3" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--    {{ form.as_p }}-->
    <div class="container">
        <h1>
            <center>Edit Image3</center>
        </h1>
        <div class="well" data-bind="fileDrag: fileData">
            <div class="form-group row">
                <div class="col-md-6">
                    <!--                    <img style="height: 125px;" class="img-rounded  thumb" data-bind="attr: { src: fileData().dataURL }, visible: fileData().dataURL">-->
                    <div data-bind="ifnot: fileData().dataURL">
                        <label class="drag-label"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--                    <input name="image" id="id_image" value="1.jpg" type="file" accept="image/*">-->

                    <input type="hidden" name="countofpic" value="3" required="" id="id_countofpic3">

                </div>
                <div class="col-md-12 text-center button " style="margin-top: 10px">
                    <button type="submit" class="btn btn-danger">Run3</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form id="4" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--    {{ form.as_p }}-->
    <div class="container">
        <h1>
            <center>Edit Image4</center>
        </h1>
        <div class="well" data-bind="fileDrag: fileData">
            <div class="form-group row">
                <div class="col-md-6">
                    <!--                    <img style="height: 125px;" class="img-rounded  thumb" data-bind="attr: { src: fileData().dataURL }, visible: fileData().dataURL">-->
                    <div data-bind="ifnot: fileData().dataURL">
                        <label class="drag-label"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <!--                    <input name="image" id="id_image" value="1.jpg" type="file" accept="image/*">-->

                    <input type="hidden" name="countofpic" value="3" required="" id="id_countofpic4">

                </div>
                <div class="col-md-12 text-center button " style="margin-top: 10px">
                    <button type="submit" class="btn btn-danger">Run4</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script src='http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js'></script>
<script src='media/style/knockout-file-bindings.js'></script>
<script>
    var viewModel = {};
    viewModel.fileData = ko.observable({
        dataURL: ko.observable(),
        // can add "fileTypes" observable here, and it will override the "accept" attribute on the file input
        // fileTypes: ko.observable('.xlsx,image/png,audio/*')
    });
    viewModel.multiFileData = ko.observable({dataURLArray: ko.observableArray()});
    viewModel.onClear = function (fileData) {
        if (confirm('Are you sure?')) {
            fileData.clear && fileData.clear();
        }
    };
    viewModel.debug = function () {
        window.viewModel = viewModel;
        console.log(ko.toJSON(viewModel));
        console.log(viewModel.multiFileData());
        console.log(viewModel.multiFileData().dataURLArray());
        console.log(viewModel.multiFileData().fileArray());
        debugger;
    };
    viewModel.onInvalidFileDrop = function (failedFiles) {
        var fileNames = [];
        for (var i = 0; i < failedFiles.length; i++) {
            fileNames.push(failedFiles[i].name);
        }
        var message = 'Invalid file type: ' + fileNames.join(', ');
        alert(message);
        console.error(message);
    };
    ko.applyBindings(viewModel);
</script>


</body>
</html>
